NETCore/Basics/bin/
NETCore/Basics/obj/
NETCore/obj/

Nestjs/my-first-nest-app/node_modules/
Nestjs/my-first-nest-app/dist/
Nestjs/my-first-nest-app/.vscode/
Nestjs/my-first-nest-app/.idea/
Nestjs/my-first-nest-app/.env
Nestjs/my-first-nest-app/.env.example
Nestjs/my-first-nest-app/.env.local
Nestjs/my-first-nest-app/.env.development
Nestjs/my-first-nest-app/.env.production

NETCore/EFCore/EFCoreRestApi/EFCoreRestApi/bin/
NETCore/EFCore/EFCoreRestApi/.idea/
NETCore/EFCore/EFCoreRestApi/EFCoreRestApi/obj/
NETCore/EFCore/EFCoreRestApi/EFCoreRestApi/bin/
NETCore/EFCore/EFCoreRestApi/EFCoreRestApi/obj/
NETCore/EFCore/EFCoreRestApi/EFCoreRestApi/Properties/
NETCore/EFCore/EFCoreRestApi/EFCoreRestApi/appsettings.Development.json
NETCore/EFCore/EFCoreRestApi/EFCoreRestApi/appsettings.json
